<form action="/events/add" method="post">
  <div>
    <label for="name">Event Name:</label>
    <input type="text" id="name" name="name">
  </div>
  <div>
    <label for="date">Date:</label>
    <input type="text" id="date" name="date">
  </div>
  <button type="submit">Add Event</button>
</form>
