<div class="container mt-5">
  <h2>Welcome to Local Event Planner</h2>
  <p>Discover exciting events near you based on your interests. Find and register for events based on your interests: sports, food, music, and more!
    Whether you're a thrill-seeker, a foodie, an art lover, or someone who just wants to connect with new people, our platform brings you the best 
    local events tailored to your interests. From vibrant music festivals to cozy art exhibits, we help you find events that will add adventure to your life.
    Gone are the days of missing out on the fun! With Local Event Planner, you can easily discover events near you that align with your hobbies and passions.
    Get all the details, sign up instantly, and join a community of like-minded individuals.It's your one-stop platform for making memories that last a lifetime.
  </p>
  <a href="/events" class="btn btn-primary">Explore Events</a>
</div>



