<h2>Edit Event</h2>
<form action="/events/edit/{{event._id}}" method="POST">
  <input type="text" name="title" value="{{event.title}}" required>
  <input type="date" name="date" value="{{event.date}}" required>
  <input type="text" name="location" value="{{event.location}}" required>
  <button type="submit">Update Event</button>
</form>