<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>My Portfolio</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>



    <footer>
        <p>Connect with me on 
            <a href="https://github.com/parveengithub">GitHub</a> | 
            <a href="https://www.linkedin.com/in/yourusername">LinkedIn</a>
        </p>
    </footer>
</body>
</html>
