{{!-- about.hbs --}}
{{> layout}}

<div class="container">
  <h1>About Me</h1>
  <p>I am a developer with a background in [your background]. I enjoy creating dynamic web applications and learning new technologies.</p>
  <p>In my free time, I like [your hobbies or interests].</p>
</div>
