{{!-- about.hbs --}}
{{> layout}}

<div class="container">
  <h1>About Me</h1>
  <p>I am a developer with a background in <strong>[Your Background]</strong>. I enjoy creating dynamic web applications and learning new technologies.</p>
  <p>In my free time, I like <strong>[reading in my free time]</strong>.</p>
</div>
