<footer class="text-center">
    <p>Connect with me:</p>
    <a href="https://github.com/YOUR_GITHUB_USERNAME" target="_blank">GitHub</a> | 
    <a href="https://www.linkedin.com/in/YOUR_LINKEDIN_USERNAME" target="_blank">LinkedIn</a>
</footer>
