{{!-- home.hbs --}}
{{!-- Extending the layout --}}
{{> layout}}

<div class="container">
  <h1>Welcome to My Portfolio</h1>
  <p>Hi! I'm [Your Name], a passionate developer.</p>
  <a href="/projects" class="btn btn-primary">View My Projects</a>
</div>
