{{!-- projects.hbs --}}
{{> layout}}

<div class="container">
  <h1>My Projects</h1>
  <ul>
    <li><a href="https://github.com/yourusername/project1">Project 1</a> - Brief description of Project 1.</li>
    <li><a href="https://github.com/yourusername/project2">Project 2</a> - Brief description of Project 2.</li>
    <li><a href="https://github.com/yourusername/project3">Project 3</a> - Brief description of Project 3.</li>
  </ul>
</div>
