<!-- views/projects.hbs -->
{{!-- Projects Page --}}
<h2>My Projects</h2>
<ul>
    <li><a href="https://link-to-your-project-1.com">Project 1</a> - A brief description of Project 1.</li>
    <li><a href="https://link-to-your-project-2.com">Project 2</a> - A brief description of Project 2.</li>
    <li><a href="https://link-to-your-project-3.com">Project 3</a> - A brief description of Project 3.</li>
</ul>