<!-- Example for home.hbs -->
{{!-- home.hbs --}}
<h2>Welcome to My Portfolio</h2>
<p>This is the home page where I introduce myself.
    My name is Parveen Kaur. I am studying in Computer 
    Programming.
</p>