<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
             <img src="/portfolio-site/public/images/images.jpeg" alt="Logo" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
<main>
<h2>Welcome to My Portfolio</h2>
<p>This is the home page where I introduce myself.<br>
    My name is Parveen Kaur. I am studying in Computer <br>
    Programming. My journey in tech world has equipped me<br> 
    with skills in web development, software development 
    and problem solving.<br> I'm excited to share my work with you.<br>
    I hope you enjoy visiting my Portfolio.<br>

</p>
</main>
<footer>
        <p>&copy; 2024 Parveen Kaur</p>
    </footer>
</body>
</html>