<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

<!-- views/projects.hbs -->
{{!-- Projects Page --}}
<h2>My Projects</h2>
<ul>
    <li><a href="https://github.com/parveengithub/Assignment-3-Candy.git">Project 1</a> - A brief description of Project 1.</li>
    <li><a href="https://github.com/parveengithub/Art-gallery.git">Project 2</a> - A brief description of Project 2.</li>
    <li><a href="https://github.com/parveengithub/Assignment-2-CSS.git">Project 3</a> - A brief description of Project 3.</li>
</ul>
<footer>
        <p>&copy; 2024 Your Name</p>
    </footer>
</body>
</html>