{{> header}}

<main>
  <section class="projects-section">
    <div class="container">
      <h1>My Projects</h1>
      <p>Here are some of the projects I've worked on:</p>
      <ul>
        <li>Project 1: Description</li>
        <li>Project 2: Description</li>
        <li>Project 3: Description</li>
      </ul>
    </div>
  </section>
</main>

{{> footer}}
