<!-- views/projects.hbs -->
{{!-- Projects Page --}}
<h2>My Projects</h2>
<ul>
    <li><a href="https://github.com/parveengithub/Assignment-3-Candy.git">Project 1</a> - A brief description of Project 1.</li>
    <li><a href="https://github.com/parveengithub/Art-gallery.git">Project 2</a> - A brief description of Project 2.</li>
    <li><a href="https://github.com/parveengithub/Assignment-2-CSS.git">Project 3</a> - A brief description of Project 3.</li>
</ul>